{% extends 'layout.html' %}
{% block head %}
	<script src="scripts/champions.js"></script>
  <script src="scripts/kda.js"></script>
  <script src="scripts/sort.js"></script>
{% endblock %}
{% block top-menu %}
  <h3>Most Played Champions | <a onclick="kda()" href="#">Highest KDA</a> | <a href="">Highest Win Rate</a></h3>
	<p>Sort by:
	<select id='sort-by'>
		<option value="alpha" selected>Name</option>
		<option value="pre">Most Played Pre-Patch</option>
		<option value="post">Most Played Post-Patch</option>
		<option value="difference">Largest Difference</option>
	</select>
<script>
  $('select#sort-by').change(function() {
  	reCalc($(this).val());
  });
</script>
{% endblock %}

{% block content %}
	<canvas id="canvas" width="3500" height="500"></canvas>
	<div id="custom-tooltip"></div>
	<script src="scripts/chart.js"></script>
{% endblock %}
