{% extends 'layout.html' %}
{% block head %}
	<script src="/scripts/index.js"></script>
{% endblock %}

{% block content %}
	<div id="index">
		<h3>Welcome to Mid-Lane, Best Lane!</h3>
		<div class='index-item'>
			<h2>This site aims to explore the performance effects of the 5.13 boon to AP items, focusing on final stats like Damage to Champions and KDA. And while the site title reflects the jubliation of the AP heavy mid-lane, don't worry: every lane and every champion is convered! <3</h2>
			<h2><strong>*Note:</strong>This site scrolls horizontally so make sure you scroll right for more data!</h2>
		</div>
		<div id="items"></div>
	</div>
{% endblock %}
