<!doctype html>
<html>
  <head>
    <title>AP Item Changes</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="menu">
      <div class='logo'>ML<br />BL</div>
      <ul class="menu-effect">
        <li><a href="/">Home</a></li>
        <li><a href="/items">Items</a></li>
        <li><a href="/champions">Champions</a></li>
      </ul>
    </div>
    <div id="bg-img"></div>
    <div id="top-menu">
      {% block top-menu %}{% endblock %}
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Condensed' rel='stylesheet' type='text/css'>
  </body>
</html>
