{% extends '../layout.html' %}
{% extends 'items-top.html' %}

{% block head %}
	<script src="/scripts/items/count.js"></script>
{% endblock %}
{% block sub-menu %}
	<p>Sort by:
	<select id='sort-by'>
		<option value="pre">Most Used in Final Builds Pre-Patch</option>
		<option value="post" selected>Most Used in Final Builds Post-Patch</option>
		<option value="difference">Largest Difference</option>
	</select>
<script>
  $('select#sort-by').change(function() {
  	reCalc('count', $(this).val(), 'percentUsedPre', 'percentUsedPost');
  });
</script>
{% endblock %}

{% block content %}
	<canvas id="canvas" width="5500" height="500"></canvas>
	<div id="custom-tooltip" class='tooltip'></div>
	<script src="/scripts/chart.js"></script>
  <script src="/scripts/items/tooltip.js"></script>
  <script src="/scripts/items/sort.js"></script>
{% endblock %}
