{% extends '../layout.html' %}

{% block top-menu %}
  <h3><a href="/champions">Most Played Champions</a><a href="/champions/kda">Highest KDA</a><a href="/champions/damage">Most Damage</a><a href="/champions/winrate">Highest Win Rate</a></h3>
  <div id='sub-menu'>{% block sub-menu %}{% endblock %}</div>
{% endblock %}

{% block content %}
  <div id="canvas-bg"></div>
	<canvas id="canvas" width="4000" height="550"></canvas>
	<div id="custom-tooltip" class="tooltip"></div>
	<script src="/scripts/chart.js"></script>
  <script src="/scripts/champions/tooltip.js"></script>
  <script src="/scripts/champions/sort.js"></script>
{% endblock %}
